DATA_LANDING_DIR=data/landing
DATA_RAW_DIR=data/raw
DATA_PROCESSED_DIR=data/processed
DATA_REJECTED_DIR=data/rejected

REGION_MAPPING_PATH=data/raw/region_mapping.csv
SPARK_APP_NAME=TelecomIntelligencePipeline

WAREHOUSE_DB_URL=postgresql+psycopg2://user:password@localhost:5432/telecom
MODEL_PATH=ml/model.pkl

API_HOST=0.0.0.0
API_PORT=8000
